@using Microsoft.Extensions.Configuration;
@using Blog.Models;
@inject NavigationConfiguration config;

@{

    Dictionary<string, string> items = new Dictionary<string, string>();

    foreach (var item in config.Pages)
    {
        items.Add(item.Name, item.Url);
    }

    foreach (var item in config.Overviews)
    {
        items.Add(item.Name, $"/BlogOverview/{item.MetaKeyword}");
    }
}

@*Not the best solution but meanwhile... class = d-sm-block d-md-none is hiding on md screen solution*@
<nav class="navbar navbar-toggleable-sm d-sm-block d-md-none float-left">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">&#9776;</span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @foreach (var item in items)
            {
                <a class="nav-item nav-link" href="@item.Value">@item.Key</a>
            }
        </div>
    </div>
</nav>
@*Not the best solution but meanwhile... class =  d-none d-md-block is hiding on sm screen solution*@
<nav class="navbar d-none d-md-block float-left">
    <ul class="nav">
        @foreach (var item in items)
        {
            <li class="nav-item">
                <a class="nav-link" href="@item.Value">@item.Key</a>
            </li>
        }
    </ul>
</nav>




